---
layout: default
tab: blog
title2: Blog
---
<div id="blog" class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>{{ page.subtitle }}{% if page.parttitle %} <br/><span class="blog-post-subtitle">{{page.parttitle}}</span> {% endif %}</h1>
            <p class="blog-post-date">{{page.date | date: "%Y-%m-%d"}} by <a href="https://twitter.com/axelfontaine">Axel Fontaine</a></p>

            <div>
            {{ content }}
            </div>

            <div id="social-buttons">
                <a class="btn btn-primary btn-twitter" target="_blank" href="https://twitter.com/intent/tweet?original_referer={{ site.url | uri_escape}}{{ page.url | uri_escape | split: '.html' }}&ref_src=twsrc%5Etfw&text={{ page.subtitle | uri_escape }}&tw_p=tweetbutton&url={{ site.url | uri_escape}}{{ page.url | uri_escape | split: '.html' }}"><i class="fa fa-twitter"></i> Tweet</a>
            </div>

            <div id="blog-post-nav">
                {% if page.previous %}
                <div id="blog-post-previous">
                    <a href="{{page.previous.url | split: '.html'}}">« {{ page.previous.subtitle }} {% if page.previous.parttitle %} <br/> <span class="blog-sidebar-subtitle">{{ page.previous.parttitle }}</span>{% endif %}</a>
                </div>
                {% endif %}

                {% if page.next %}
                <div id="blog-post-next">
                    <a href="{{page.next.url | split: '.html'}}">{{ page.next.subtitle }} »{% if page.next.parttitle %}<br/> <span class="blog-sidebar-subtitle">{{ page.next.parttitle }}</span>{% endif %}</a>
                </div>
                {% endif %}

                <div id="blog-feed" class="center">
                    <a href="/blog/atom.xml"><i class="fa fa-rss"></i></a>
                    <a href="/blog/atom.xml">RSS Feed</a>
                </div>
            </div>
        </div>
        <div id="blog-sidebar" class="col-md-3">

            <div class="blog-post-section">Recent posts</div>
            <div id="menu">
                <ul class="nav nav-pills nav-stacked">
                    {% capture date_cutoff_old_posts %}{{ '2018-01-01' | date: '%s' | plus: 0 }}{% endcapture %}
                    {% for post in site.posts %}
                        {% capture date_post %}{{ post.date | date: "%s" | plus: 0 }}{% endcapture %}
                        {% if date_post >= date_cutoff_old_posts %}
                            <li
                            {% if page.permalink == post.permalink %} class="active" {% endif %}>
                            <a href="{{ post.permalink | split: '.html' }}"><span class="date">{{ post.date | date: "%Y-%m-%d" }}</span><br/>{{ post.subtitle | xml_escape }} {% if post.parttitle %} <br/> <span class="blog-sidebar-subtitle">{{ post.parttitle }}</span>{% endif %}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>